<nav class="navbar">
    <div class="org-name"><a href=""><img src="./../../../../../assets/patitas-con-fondo.png" alt="" srcset="">Patitas del sur</a></div>
    <div class="navigation-list">
        <ul>
            <li><a href="adopciones">Adopciones</a></li>
            <li><a href="#historia">Nuestra historia</a></li>
            <li><a href="#donar">Donaciones</a></li>          
            <li><a href="#contact">Contactanos</a></li>
            <li><a href="se-provi">Sé provi 🏡</a></li>
        </ul>
    </div>
</nav>
