<div class="history">
    <div class="grid-layout">
        <div class="box b1">
            <div class="img-container">
                <img src="https://img.freepik.com/vector-gratis/grupo-gente-joven-abrazandose-diseno-plano_52683-13322.jpg"
                    alt="" srcset="">
            </div>
        </div>
        <div class="box b2">
            <div class="nuestra-historia t1">
                <h1>Nuestra Historia</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime id eos, autem eligendi cum
                    atque, est at rem sunt doloremque vitae, voluptatum aspernatur quaerat soluta voluptas aperiam
                    fugiat nobis.
                    Nisi reprehenderit aliquam quibusdam tenetur illum sapiente ipsa unde dicta saepe, iste earum illo
                    suscipit cumque, nihil amet eos dolorem deserunt quo adipisci eius modi dignissimos quod accusamus
                    eaque. Eaque?</p>
                <app-huellitas></app-huellitas>
            </div>

        </div>
        <div class="box b3">
            <div class="nuestra-historia c1">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime id eos, autem eligendi cum
                    atque, est at rem sunt doloremque vitae, voluptatum aspernatur quaerat soluta voluptas aperiam
                    fugiat nobis.
                    Nisi reprehenderit aliquam quibusdam tenetur illum sapiente ipsa unde dicta saepe, iste earum illo
                    suscipit cumque, nihil amet eos dolorem deserunt quo adipisci eius modi dignissimos quod accusamus
                    eaque. Eaque?</p>

            </div>
        </div>
        <div class="box b4">
            <div class="img-container">
                <img src="https://img.freepik.com/vector-gratis/grupo-gente-joven-abrazandose-diseno-plano_52683-13322.jpg"
                    alt="" srcset="">
            </div>
        </div>
        <div class="box b5">
            <div class="contenedor-box5">
                <div class="item">
                    <app-huella [color]=corazon2 [fillcolor]=huella3></app-huella>
                    <p>N° de animmalitos
                    <br>rescatados de
                    <br>la calle
                </p>
                </div>
                <div class="item">
                    <app-huella [color]=corazon2 [fillcolor]=huella1></app-huella>
                    <p>N° adopciones
                        <br> realzadas
                    </p>
                </div>
                <div class="item">
                    <app-huella [color]=corazon2 [fillcolor]=huella2></app-huella>
                    <p>N° personas <br> que brindan <br>hogar provisorio <br> a nuestros rescatados</p>
                </div>
                <app-arrow></app-arrow>
                <div class="box-app">
                    <p>¡¡Podés sumarte!!</p>
                    <div class="btn-container" >
                        <div class="btn-adopta">
                            Quiero ser provi
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>