<div class="home">
    <div class="container">
        <div class="description">
            <div class="description-container">
                <div class="text-container">
                    <p>Protectora animal</p>
                    <p id="cordoba">de Córdoba </p><i><img src="./../../../../assets/argentina.png"></i>
                </div>
                <div class="btn-container" >
                    <div class="btn-adopta" (mouseover)="changeText=true" (mouseout)="changeText=false"><span *ngIf="!changeText">¿Querés adoptar?</span>
                        <span *ngIf="changeText">🧡 Siii 🧡</span></div>
                </div>
            </div>
            
        </div>
        <div class="contenido">
            <span class="img-container"></span>
            <img id="bimba" src="./../../../../../assets/Bimba.png">
            <img id="gato" src="./../../../../../assets/GatitoSinFondo.png">
            <div class="redes">
                
            </div>
        </div>
        
        <div>
        
    </div>
    <div class="curve"></div>
    <app-huellitas></app-huellitas>
</div>